{% extends 'base.html.twig' %}

{% block title %}Agence Immo{% endblock %}

{% block body %}
    <div class="container">
        <h2>Les dernier biens</h2>
        <div class="row flex">
            <ul>
            {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }}  {{ property.postalCode }}</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem">{{ property.formattedPrice}} €</div>
                        </div>
                    </div>
                </div>
            </div>
                
                    
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
